body {
    background-image: url('https://images.unsplash.com/photo-1579280921028-21d4e5005a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZGlhcnl8ZW58MHx8MHx8&w=1000&q=80');
    background-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}

.container {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    align-items: center;
    text-align: left;
}

input {
    width: 100%;
}

